@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

.scrollable {
  overflow-y: auto;
  max-height: 100vh;
}

.scrollable-preview {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
}

.no-scrolbar::-webkit-scrollbar {
  display: none;
}

.no-scrolbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}